body {
    background-color: #ccc;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-size: 3rem;
    font-family: 'Covered By Your Grace', cursive;
    text-align: center;
    color: #ddd;
    background: rgb(14, 90, 90);
    background: linear-gradient(0deg, rgb(48, 95, 224) 0%, rgba(2,5,28,1) 50%);
}

.col-25 {
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    width: 75%;
    margin-top: 6px;
}

input[type=text],
input[type=number],
input[type=date], 
select, 
textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

.form {
    width: 500px;
    margin-left: auto;
}

form {
    width: px;
    font-family: Roboto, sans-serif;
    font-size: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
}

