* {
    margin: none;
    padding: none;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 6px;
}

header {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
}

nav li {
    list-style: none;
    text-decoration: none;
}
