* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
    font-size: 3rem;
    font-family: 'Covered By Your Grace', cursive;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 3px;
}

header {
    text-align: center;
    color: #ddd;
    background: rgb(14, 90, 90);
    background: linear-gradient(0deg, rgb(11, 30, 82) 0%, rgba(2,5,28,1) 50%);
    grid-column: 1/13;
}

.section-header {
    grid-column: 2/13;
    height: 125px;
    padding-top: 20px;
    font-size: 3.5rem;
    color: #666;
}

div .card {
    font-family: 'Mitr', sans-serif;
    background-color: #222;
    border-radius: 3px;
    color: #ddd;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 15px;
    text-align: left;
    grid-column: 2/12;
}

.card:hover {
    color: #0336ff;
    cursor: pointer;
}


/* Compliance */
.compliance-header {
    grid-row: 2;
}

.compliance-returns {
    grid-row: 3;
}

.shrink-reports {
    grid-row: 4;
}

.sbt-line-check {
    grid-row: 5;
}

.affidavit-processing {
    grid-row: 6;
}


/* EDI */
.edi-header {
    grid-row: 7;
}

.excel-csv {
    grid-row: 8;
}

.pos-portal-retrieval {
    grid-row: 9;
}

.emailed-pos {
    grid-row: 10;
}

.barnes-noble {
    grid-row: 11;
}

/* BEER */
.beer-header {
    grid-row: 12;
}

.brewery-orders {
    grid-row: 13;
}

.curity-reports {
    grid-row: 14;
}

.ocr-processing {
    grid-row: 15;
}

.com-monarch {
    grid-row: 16;
}

.beer-store {
    grid-row: 17;
}

.books-header {
    grid-row: 18;
}

.roll-forward {
    grid-row: 19;
}

.abc-returns {
    grid-row: 20;
}

.pub-returns {
    grid-row: 21;
}

.overlay-content {
    display: none;
}

.overlay-wrapper {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    cursor: pointer;
}

.overlay {
    background-color: #ccc;
    width: 600px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
}

.overlay-description {
    padding-bottom: 10px;
}

.overlay-roi {
    height: 12%;
}

span {
    font-weight: 700;
}

#notes-content, #description-content, #roi-content {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 100;
}